extends layout

block content
    .container
        .header
            h1= title
        .row
            .column
                .cell
                    p.cell-title Water Temperature
                    .temperature-info
                        p.cell-data( data-id="current-water-temp" ) Current: <span/>
                        p.cell-data(data-id="lowest-water-temp") Lowest: <span/>
            .column
                .cell
                    p.cell-title Room Temperature
                    .temperature-info
                        p.cell-data( data-id="current-room-temp" ) Current: <span/>
            .column
                .cell
                    p.cell-title Leak Present
                    .temperature-info
                        p.cell-data(data-id="leak-present")
        .row
            .column
                .cell
                p.cell-title Pump Power
            .column
                .cell
                p.cell-title Ozone Power
                .ozone-info
                    p.cell-data( data-id="ozone-status" ) Satus: <span/>
                    p.cell-data( data-id="ozone-start" ) Start Time: <span/>
                    p.cell-data( data-id="ozone-end" ) End Time: <span/>
                    p.cell-data( data-id="ozone-time-left" ) Time Left: <span/>
                    .buttons
                        button#ozone-power(type='button') Start Ozone
            .column
                .cell
                p.cell-title Light Power
    script.
        $(document).ready(function() {
            function updateCellData() {
                $.ajax({
                    url: '/api/sensors',
                    method: 'GET',
                    success: function(sensorData) {
                        let waterMessage = sensorData.waterMessage;
                        // update the current water temperature 
                        if (waterMessage == '') {
                            waterMessage = `${sensorData.waterTemperature.toFixed(1)} °F`;
                        }

                        $(`.cell-data[data-id='current-water-temp'] span`).text(waterMessage)

                        // update the current room temperature 
                        let roomMessage = sensorData.roomMessage;
                        if (roomMessage == '') {
                            roomMessage = `${sensorData.roomTemperature.toFixed(1)} °F`;
                        }
                        $(`.cell-data[data-id='current-room-temp'] span`).text(roomMessage)

                        // update leak indication
                        let leakMessage = sensorData.leakMessage;
                        if (leakMessage == '') {
                            leakMessage = sensorData.leakPresent ? "True" : "False";
                        }
                        $(`.cell-data[data-id='leak-present']`).text(leakMessage);


                        // update the ozone message
                        updateOzoneStatus(sensorData);
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', status, error);
                    }
                });
            }

            updateCellData();
            setInterval(updateCellData, 5000);

            $('#ozone-power').click(function() {
                $.ajax({
                    url: '/api/ozone',
                    method: 'POST',
                    success: function(data) {
                    },
                    error: function(xhr, status, error) {
                        console.error(`Error: ${status} ${error}`);
                    }
                });
            });

            function updateOzoneStatus(sensorData) {
                $(`.cell-data[data-id='ozone-status'] span`).text(sensorData.ozoneStatus);
                $(`.cell-data[data-id='ozone-start'] span`).text(sensorData.ozoneStart);
                $(`.cell-data[data-id='ozone-end'] span`).text(sensorData.ozoneEnd);
                $(`.cell-data[data-id='ozone-time-left'] span`).text(sensorData.ozoneTimeLeft);

                if (sensorData.ozoneStatus == 'Running') {
                    $(`#ozone-power`).text("Stop Ozone");
                } else {
                    $(`#ozone-power`).text("Start Ozone");
                }

            }

        });
