extends layout

block content
    .container
        .header
            h1= title
        .row
            .column
                .cell
                    p.cell-title Water Temperature
                    .temperature-info
                        p.cell-data( data-id="current-water-temp" ) Current: <span/>
                        p.cell-data(data-id="lowest-water-temp") Lowest: <span/>
                        p.cell-data(data-id="lowest-water-time") Recorded At: <span/>
                        p.cell-data(data-id="lowest-water-mark") Mark Start: <span/>
                    .buttons
                        button#mark-water-temperature(type='button') Mark Temperature
            .column
                .cell
                    p.cell-title Room Temperature
                    .temperature-info
                        p.cell-data( data-id="current-room-temp" ) Current: <span/>
            .column
                .cell
                    p.cell-title Leak Present
                    .temperature-info
                        p.cell-data(data-id="leak-present")
        .row
            .column
                .cell
                p.cell-title Pump Power
            .column
                .cell
                p.cell-title Ozone Power
            .column
                .cell
                p.cell-title Light Power
    script.
        $(document).ready(function() {
            function updateCellData() {
                $.ajax({
                    url: '/api/sensors',
                    method: 'GET',
                    success: function(sensorData) {
                        // update the current water temperature
                        $(`.cell-data[data-id='current-water-temp'] span`).text(`${sensorData.waterTemperature} 째F`)

                        // update the current room temperature and history
                        $(`.cell-data[data-id='current-room-temp'] span`).text(`${sensorData.roomTemperature} 째F`)

                        // update leak indication
                        $(`.cell-data[data-id='leak-present']`).text(sensorData.leakPresent ? "True" : "False");

                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', status, error);
                    }
                });

                $.ajax({
                    url: '/api/sensors/water/mark-lowest',
                    method: 'GET',
                    success: function(data) {
                        if (data?.lowestWaterTemperature) {
                            $(`.cell-data[data-id='lowest-water-temp'] span`).text(`${data.lowestWaterTemperature} 째F`);
                        } else {
                            $(`.cell-data[data-id='lowest-water-temp'] span`).text("");
                        }

                        if (data?.lowestWaterTime) {
                            $(`.cell-data[data-id='lowest-water-time'] span`).text(data.lowestWaterTime);
                        } else {
                            $(`.cell-data[data-id='lowest-water-time'] span`).text("");
                        }

                        if (data?.markStartTime ) {
                            $(`.cell-data[data-id='lowest-water-mark'] span`).text(`${data.markStartTime}`);
                        } else {
                            $(`.cell-data[data-id='lowest-water-mark'] span`).text("");
                        }

                        // if (data?.markStartTime && data?.markStartTemperature) {
                        //     $(`.cell-data[data-id='lowest-water-mark'] span`).text(`${data.markStartTemperature} 째F at ${data.markStartTime}`);
                        // } else {:waterTemperature
                        //     $(`.cell-data[data-id='lowest-water-mark'] span`).text("");
                        // }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', status, error);
                    }
                });
            }

            updateCellData();
            setInterval(updateCellData, 5000);

            $('#mark-water-temperature').click(function() {
                $.ajax({
                    url: '/api/sensors/water/mark-temperature',
                    method: 'POST',
                    success: function(data) {
                        console.log('Started monitoring');
                    },
                    error: function(xhr, status, error) {
                        console.error(`Error: ${status} ${error}`);
                    }
                });
            });
        });
