extends layout

block content
    .container
        .header
            h1= title
        .row
            .column
                .cell
                    p.cell-title Water Temperature
                    .temperature-info
                        p.cell-data( data-id="current-water-temp" ) Current: <span/>
                        p.cell-data(data-id="lowest-water-temp") Lowest: <span/>
            .column
                .cell
                    p.cell-title Room Temperature
                    .temperature-info
                        p.cell-data( data-id="current-room-temp" ) Current: <span/>
            .column
                .cell
                    p.cell-title Leak Present
                    .temperature-info
                        p.cell-data(data-id="leak-present")
        .row
            .column
                .cell
                p.cell-title Pump Power
            .column
                .cell
                p.cell-title Ozone Power
                .ozone-info
                    .buttons
                        button#ozone-power(type='button') Start Ozone
            .column
                .cell
                p.cell-title Light Power
    script.
        $(document).ready(function() {
            function updateCellData() {
                $.ajax({
                    url: '/api/sensors',
                    method: 'GET',
                    success: function(sensorData) {
                        let waterMessage = sensorData.waterMessage;
                        // update the current water temperature 
                        if (waterMessage == '') {
                            waterMessage = `${sensorData.waterTemperature} °F`;
                        }

                        $(`.cell-data[data-id='current-water-temp'] span`).text(waterMessage)

                        // update the current room temperature 
                        let roomMessage = sensorData.roomMessage;
                        if (roomMessage == '') {
                            roomMessage = `${sensorData.roomTemperature} °F`;
                        }
                        $(`.cell-data[data-id='current-room-temp'] span`).text(roomMessage)

                        // update leak indication
                        let leakMessage = sensorData.leakMessage;
                        if (leakMessage == '') {
                            leakMessage = sensorData.leakPresent ? "True" : "False";
                        }
                        $(`.cell-data[data-id='leak-present']`).text(leakMessage);

                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', status, error);
                    }
                });
            }

            updateCellData();
            setInterval(updateCellData, 5000);

            $('#ozone-power').click(function() {
                $.ajax({
                    url: '/api/sensors/water/mark-temperature',
                    method: 'POST',
                    success: function(data) {
                        console.log('Started monitoring');
                    },
                    error: function(xhr, status, error) {
                        console.error(`Error: ${status} ${error}`);
                    }
                });
            });

        });
